---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Wenchang Liu</a>
    </div>
    <div class="navbar__menu">
        <a href="/portfolio/">Portfolio</a>
        <a href="/exp/">Experience</a>
        <a href="https://williamliu.xlog.app/">Blog</a>
        <!-- <a href="https://github.com/williamlwclwc" target="_blank">GitHub</a> -->
        <ThemeIcon />
    </div>
</div>

